<a href="https://colab.research.google.com/github/a01722171/visualizacion-de-datos/blob/main/clase9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
path="https://raw.githubusercontent.com/tec03/Datasets/main/datasets/reg_data.csv"

In [2]:
import pandas as pd
import statsmodels.api as sm

What is the impact of age in salary?
Salary = b0 + b1*age

In [3]:
df = pd.read_csv(path)
df.head(2)

   Gender  Salary   Age  Place  Weight Company   Education  JoinYear
0  Female  1300.0  35.0    1.0    80.0     BMW    Bachelor      2008
1  Female  1250.0  33.0    1.0    82.5    Ford  HighSchool      2010

In [4]:
ndf = df[["Age","Salary"]]
ndf = ndf.dropna()
ndf.head()

    Age  Salary
0  35.0  1300.0
1  33.0  1250.0
2  34.0  2200.0
3  42.0  2100.0
4  29.0  1500.0

In [5]:
model = sm.OLS.from_formula("Salary ~ Age",
                            data = ndf)
result = model.fit()
result.summary()

/usr/local/lib/python3.9/dist-packages/scipy/stats/_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=17
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.317
Model:                            OLS   Adj. R-squared:                  0.272
Method:                 Least Squares   F-statistic:                     6.966
Date:                Mon, 13 Mar 2023   Prob (F-statistic):             0.0186
Time:                        15:21:43   Log-Likelihood:                -128.66
No. Observations:                  17   AIC:                             261.3
Df Residuals:                      15   BIC:                             263.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    606.3451    674.058      0.900      0.383    -830.376    2043.066
Age           41.9635     15.900      2.639      0.019       8.074      75.853
==============================================================================
Omnibus:                        0.097   Durbin-Watson:                   1.273
Prob(Omnibus):                  0.953   Jarque-Bera (JB):                0.315
Skew:                           0.084   Prob(JB):                        0.854
Kurtosis:                       2.354   Cond. No.                         236.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [6]:
edad = int(input("Ener age to calculate salary"))

Ener age to calculate salary33

In [7]:
print("Salary of a person with age", edad, "is", 606.3451 + 41.9635*edad)

Salary of a person with age 33 is 1991.1406000000002

What is the salary of a female with age 33?
Salary = b0 + b1*age + b2*gender

In [8]:
ndf = df[["Age","Salary","Gender"]]
ndf = ndf.dropna()
ndf.head()

    Age  Salary  Gender
0  35.0  1300.0  Female
1  33.0  1250.0  Female
2  34.0  2200.0    Male
3  42.0  2100.0    Male
4  29.0  1500.0  Female

In [10]:
model = sm.OLS.from_formula("Salary ~ Age + Gender",
                            data = ndf)
resultA = model.fit()
resultA.summary()

/usr/local/lib/python3.9/dist-packages/scipy/stats/_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.323
Model:                            OLS   Adj. R-squared:                  0.219
Method:                 Least Squares   F-statistic:                     3.108
Date:                Mon, 13 Mar 2023   Prob (F-statistic):             0.0789
Time:                        15:32:10   Log-Likelihood:                -121.44
No. Observations:                  16   AIC:                             248.9
Df Residuals:                      13   BIC:                             251.2
Df Model:                           2
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept        874.7433    968.174      0.903      0.383   -1216.869    2966.355
Gender[T.Male]   188.7701    423.620      0.446      0.663    -726.406    1103.946
Age               33.0033     27.396      1.205      0.250     -26.183      92.189
==============================================================================
Omnibus:                        0.559   Durbin-Watson:                   1.244
Prob(Omnibus):                  0.756   Jarque-Bera (JB):                0.623
Skew:                           0.295   Prob(JB):                        0.732
Kurtosis:                       2.234   Cond. No.                         320.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [11]:
edad = int(input("Enter age to calculate Salary"))
genero = int(input("Enter gender to calculate salary,(1 if male, 0 if female)"))

Enter age to calculate Salary33
Enter gender to calculate salary,(1 if male, 0 if female)0

In [12]:
print("Salary of a female person with age 33 is ", 
      874.7433 + 0*188.7701 + edad*33.0033)

Salary of a female person with age 33 is  1963.8522000000003

In [13]:
print("Salary of a male person with age 33 is ", 
      874.7433 + 1*188.7701 + edad*33.0033)

Salary of a male person with age 33 is  2152.6223

##What is the salary of a female person with age 33, with bachelor degree?
Salary = b0 + b1*Age + b2*gender + b3*education

In [14]:
ndf = df[["Age","Salary","Gender","Education"]]
ndf = ndf.dropna()
ndf.head()

    Age  Salary  Gender   Education
0  35.0  1300.0  Female    Bachelor
1  33.0  1250.0  Female  HighSchool
2  34.0  2200.0    Male    Bachelor
3  42.0  2100.0    Male      Master
4  29.0  1500.0  Female      Master

In [15]:
model = sm.OLS.from_formula("Salary ~ Age + Gender + Education",
                            data = ndf)
resultA = model.fit()
resultA.summary()

/usr/local/lib/python3.9/dist-packages/scipy/stats/_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=15
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.429
Model:                            OLS   Adj. R-squared:                  0.201
Method:                 Least Squares   F-statistic:                     1.878
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.191
Time:                        15:41:52   Log-Likelihood:                -113.00
No. Observations:                  15   AIC:                             236.0
Df Residuals:                      10   BIC:                             239.5
Df Model:                           4
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                 895.1281   1013.504      0.883      0.398   -1363.100    3153.357
Gender[T.Male]            377.0401    471.530      0.800      0.443    -673.593    1427.674
Education[T.HighSchool]   221.7600    409.165      0.542      0.600    -689.917    1133.437
Education[T.Master]      -286.8097    358.267     -0.801      0.442   -1085.079     511.460
Age                        32.0349     29.413      1.089      0.302     -33.500      97.570
==============================================================================
Omnibus:                        0.443   Durbin-Watson:                   0.835
Prob(Omnibus):                  0.801   Jarque-Bera (JB):                0.009
Skew:                          -0.059   Prob(JB):                        0.995
Kurtosis:                       2.966   Cond. No.                         308.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [16]:
ndf.Education.unique()

array(['Bachelor', 'HighSchool', 'Master'], dtype=object)

In [18]:
print("Salary of a female person with age 33, with bachelor degree is ",
      895.1281 + 0* 377.0401 + 0* 221.7600 + 0* -286.8097 + 33* 32.0349
      )

Salary of a female person with age 33, with bachelor degree is  1952.2798000000003

##Salary of a female person with age 33, with bachelor degree, working in Ford, joined in 2010

In [19]:
ndf = df[["Age","Salary","Gender","Education","Company","JoinYear"]]
ndf = ndf.dropna()
ndf.head()

    Age  Salary  Gender   Education Company  JoinYear
0  35.0  1300.0  Female    Bachelor     BMW      2008
1  33.0  1250.0  Female  HighSchool    Ford      2010
2  34.0  2200.0    Male    Bachelor     BMW      2004
3  42.0  2100.0    Male      Master     BMW      2000
4  29.0  1500.0  Female      Master    Ford      2010

In [20]:
model = sm.OLS.from_formula("Salary ~ Age + Gender + Education + Company + JoinYear",
                            data = ndf)
resultA = model.fit()
resultA.summary()

/usr/local/lib/python3.9/dist-packages/scipy/stats/_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=14
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.467
Model:                            OLS   Adj. R-squared:                 -0.154
Method:                 Least Squares   F-statistic:                    0.7517
Date:                Mon, 13 Mar 2023   Prob (F-statistic):              0.644
Time:                        16:14:43   Log-Likelihood:                -105.40
No. Observations:                  14   AIC:                             226.8
Df Residuals:                       6   BIC:                             231.9
Df Model:                           7
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                1.279e+04   1.28e+05      0.100      0.924      -3e+05    3.26e+05
Gender[T.Male]            254.0525    638.848      0.398      0.705   -1309.152    1817.257
Education[T.HighSchool]   210.0075    549.239      0.382      0.715   -1133.932    1553.947
Education[T.Master]      -499.0852    581.187     -0.859      0.423   -1921.198     923.028
Company[T.Ford]           -20.1596    471.371     -0.043      0.967   -1173.563    1133.244
Company[T.GM]             435.0724    730.181      0.596      0.573   -1351.616    2221.760
Age                        29.5878     39.911      0.741      0.486     -68.070     127.246
JoinYear                   -5.8444     63.791     -0.092      0.930    -161.935     150.246
==============================================================================
Omnibus:                        1.529   Durbin-Watson:                   0.975
Prob(Omnibus):                  0.466   Jarque-Bera (JB):                0.504
Skew:                          -0.461   Prob(JB):                        0.777
Kurtosis:                       3.119   Cond. No.                     1.40e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.4e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [22]:
print("Salary of a female person with age 33, with bachelor degree is working in ford in 2010 ",
       1.279e+04 + 0*254.0525  + 0*210.0075 + 0*-499.0852 + 1*-20.1596 + 0*435.0724 + 33*29.5878 + 2010*	-5.8444
      )

Salary of a female person with age 33, with bachelor degree is working in ford in 2010  1998.9937999999984

In [28]:
ndf = df[["Salary","Place","Gender"]]
ndf = ndf.dropna()
ndf.head()

   Salary  Place  Gender
0  1300.0    1.0  Female
1  1250.0    1.0  Female
2  2200.0    2.0    Male
3  2100.0    2.0    Male
4  1500.0    1.0  Female

In [32]:
model = sm.OLS.from_formula("Salary ~ Gender +Place",
                            data = ndf)
resultA = model.fit()
resultA.summary()

/usr/local/lib/python3.9/dist-packages/scipy/stats/_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=16
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.602
Model:                            OLS   Adj. R-squared:                  0.541
Method:                 Least Squares   F-statistic:                     9.842
Date:                Mon, 13 Mar 2023   Prob (F-statistic):            0.00250
Time:                        16:40:01   Log-Likelihood:                -117.37
No. Observations:                  16   AIC:                             240.7
Df Residuals:                      13   BIC:                             243.1
Df Model:                           2
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept       1144.3319    319.247      3.584      0.003     454.641    1834.023
Gender[T.Male]   633.4483    216.237      2.929      0.012     166.297    1100.600
Place            405.8190    148.047      2.741      0.017      85.982     725.656
==============================================================================
Omnibus:                        0.698   Durbin-Watson:                   1.203
Prob(Omnibus):                  0.705   Jarque-Bera (JB):                0.319
Skew:                           0.336   Prob(JB):                        0.852
Kurtosis:                       2.831   Cond. No.                         8.16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [31]:
print("Salary of a female person from place 1 ",
       	1144.3319 + 0*633.4483 +1*	405.8190
      )

Salary of a female person from place 1  1550.1508999999999

In [26]:
ndf.Place.unique()

array([1., 2., 3.])